@model TotalHRInsight.DAL.PedidosProductos

@{
    ViewData["Title"] = "Editar Pedidos Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Pedidos & Productos</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PedidosProductosID" />
            <div class="form-group">
                <label asp-for="ProductosID" class="control-label"></label>
                <select asp-for="ProductosID" class="form-control" asp-items="ViewBag.ProductosID"></select>
                <span asp-validation-for="ProductosID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PedidoID" class="control-label"></label>
                <select asp-for="PedidoID" class="form-control" asp-items="ViewBag.PedidoID"></select>
                <span asp-validation-for="PedidoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medida" class="control-label"></label>
                <input asp-for="Medida" class="form-control" />
                <span asp-validation-for="Medida" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
