@model TotalHRInsight.DAL.Permiso

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-inicio {
        background-color: #B42D29;
        border-color: #B42D29;
        color: #FAFCFD;
    }
</style>

<h1>Crear Permiso</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label">Fecha de Inicio</label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaFin" class="control-label">Fecha de Fin</label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoPermiso" class="control-label">Tipo de Permiso</label>
                <input asp-for="TipoPermiso" class="form-control" />
                <span asp-validation-for="TipoPermiso" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CantidadDias" class="control-label">Cantidad de Días</label>
                <input asp-for="CantidadDias" class="form-control" />
                <span asp-validation-for="CantidadDias" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="UsuarioCrecionId" class="control-label">ID de Usuario de Creación</label>
                <input asp-for="UsuarioCrecionId" class="form-control" />
                <span asp-validation-for="UsuarioCrecionId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-inicio">Create Permiso</button>
                <a asp-action="Index">Volver a la Lista</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
