@model TotalHRInsight.DAL.Planilla

@{
    ViewData["Title"] = "Crear Planillas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Añadir Planillas</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoTotal" class="control-label"></label>
                <input asp-for="MontoTotal" class="form-control" />
                <span asp-validation-for="MontoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCreacionId" class="control-label"></label>
                <input asp-for="UsuarioCreacionId" class="form-control" />
                <span asp-validation-for="UsuarioCreacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAsistencia" class="control-label"></label>
                <input asp-for="IdAsistencia" class="form-control" />
                <span asp-validation-for="IdAsistencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPermiso" class="control-label"></label>
                <input asp-for="IdPermiso" class="form-control" />
                <span asp-validation-for="IdPermiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Añadir" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
