@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid bg-light p-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4">Bienvenido a TotalHRInsight</h1>
            <p class="lead">TotalHRInsight es un sistema administrativo para la empresa <span style="color: #B42D29;">Empana-tica</span>.</p>
            <hr class="my-4">
            <p>En esta plataforma podrás gestionar diversos aspectos relacionados con recursos humanos, inventario, sucursales, planillas, permisos, asistencias, pedidos y más.</p>
            <div class="text-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/empanatica-fc24c.appspot.com/o/Empana-tica_Logo.png?alt=media&token=6255cf42-233f-43cb-ba74-5ee325d25901" class="img-fluid mx-auto d-block" style="max-width: 50%;" alt="Logo de Empana-tica">
            </div>
        </div>
    </div>
</div>
