@{
    ViewData["Title"] = "Página Principal";
    bool isLoggedIn = User.Identity.IsAuthenticated;
    string userRole = isLoggedIn ? User.IsInRole("Administrador") ? "Administrador" : "Supervisor" : "Usuario";
}

<div class="container">
    <div class="login-box">
        <h1 class="display-2">Bienvenido, @userRole!</h1>
        @if (isLoggedIn)
        {
            if (userRole == "Administrador")
            {
                <p>Bienvenido al panel de administración donde puedes gestionar todos los aspectos de la aplicación.</p>
            }
            else if (userRole == "Supervisor")
            {
                <p>¡Bienvenido, estimado Supervisor!.</p>
            }
            else
            {
                <p>¡Bienvenido a nuestro sitio, estimado cliente!.</p>
            }
        }
        else
        {
            <p>Por favor, inicia sesión para acceder a tu cuenta.</p>
            <a class="btn btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Iniciar sesión</a>
        }

    </div>
</div>

