@{
    ViewData["Title"] = "Sobre Nosotros";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <h2 class="sidebar-heading">Misión</h2>
            <p>
                En Empana-tica S.A nos dedicamos a ofrecer a nuestros clientes experiencias gastronómicas memorables a través de empanadas y tacos artesanales de la más alta calidad.
                Nuestro compromiso con la frescura, la autenticidad y el servicio excepcional nos impulsa a satisfacer los gustos y necesidades de nuestros clientes,
                mientras mantenemos los más altos estándares de higiene y calidad en todos nuestros procesos.
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="sidebar-heading">Visión</h2>
            <p>
                Nos visualizamos como líderes en el mercado de comida rápida artesanal, reconocidos por nuestra innovación culinaria, el cuidado por los detalles y la pasión por ofrecer productos de excelencia.
                Buscamos expandir nuestra presencia con nuevas sucursales y mantener un crecimiento sostenible, siempre manteniendo nuestro compromiso con la satisfacción del cliente y el respeto por los valores de la cocina tradicional.
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="sidebar-heading">Valores</h2>
            <p>Calidad, Innovación, Integridad, Servicio al Cliente</p>
        </div>
    </div>
</div>

