@{
    ViewData["Title"] = "Sobre Nosotros";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <h2 class="sidebar-heading">Misión</h2>
            <p>Descripción de la misión de la empresa.</p>
        </div>
        <div class="col-md-4">
            <h2 class="sidebar-heading">Visión</h2>
            <p>Descripción de la visión de la empresa.</p>
        </div>
        <div class="col-md-4">
            <h2 class="sidebar-heading">Valores</h2>
            <p>Descripción de los valores de la empresa.</p>
        </div>
    </div>
</div>

