@model TotalHRInsight.Models.Gastos.IngresoViewModel


@{
    ViewData["Title"] = "Crear Ingreso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Añadir Ingreso</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="form-group">
                            <label asp-for="Fecha" class="control-label"></label>
                            <input asp-for="Fecha" class="form-control" />
                            <span asp-validation-for="Fecha" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TipoIngresoId" class="control-label"></label>
                            <select asp-for="TipoIngresoId" class="form-control" asp-items="ViewBag.TipoIngresoId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="MontoIngreso" class="control-label"></label>
                            <input asp-for="MontoIngreso" class="form-control" />
                            <span asp-validation-for="MontoIngreso" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SucursalId" class="control-label">Sucursal</label>
                            <select asp-for="SucursalId" class="form-control" asp-items="ViewBag.SucursalId" id="sucursalSelect"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="CierreCaja.Fecha" class="control-label">Fecha de Cierre de Caja</label>
                            <select asp-for="CierreId" class="form-control" id="cierreSelect">
                                <option value="">Seleccione una sucursal primero</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <a asp-action="Index" class="btn btn-secondary me-2" style="flex: 1;" onclick="showLoader()">
                                <i class="bi bi-arrow-left-circle"></i> Regresar
                            </a>
                            <button type="submit" class="btn btn-danger ms-2" style="flex: 1;" onclick="showLoader()">
                                <i class="bi bi-plus-circle"></i> Añadir
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@Html.Partial("_LoaderModal")

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
    <script src="~/js/loader.js"></script>
}
<script>
    document.getElementById('sucursalSelect').addEventListener('change', function () {
        var sucursalId = this.value;
        var cierreSelect = document.getElementById('cierreSelect');
        cierreSelect.innerHTML = '<option value="">Cargando...</option>';

        fetch(`/Gastos/GetCierresBySucursal?sucursalId=${sucursalId}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);  // Agrega esto para ver qué datos estás recibiendo
                cierreSelect.innerHTML = '';
                data.forEach(cierre => {
                    var option = document.createElement('option');
                    option.value = cierre.idCierraCaja;
                    option.text = cierre.fecha;
                    cierreSelect.appendChild(option);
                });
            })
            .catch(error => {
                cierreSelect.innerHTML = '<option value="">Error al cargar las fechas</option>';
            });

    });

</script>