<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TotalHRInsight</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TotalHRInsight.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <nav class="sidebar bg-dark text-light p-3">
            <h3 class="sidebar-heading">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <span style="color: #FFFFFF; font-weight: bold; margin-right: 10px;">TotalHRInsight</span>
                    <img src="~/images/Empana-tica_Logo.jpg" class="img-fluid" alt="Empana-tica_Logo" style="max-height: 30px;">
                </a>
            </h3>
            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Asistencias" asp-action="Index">Asistencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Incidencias" asp-action="Index">Incidencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Productoes" asp-action="Index">Inventario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Planillas" asp-action="Index">Planilla</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Permisoes" asp-action="Index">Permiso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Pedidoes" asp-action="Index">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Sucursals" asp-action="Index">Sucursales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Usuarios</a>
                </li>
            </ul>
        </nav>

        <div class="main-content flex-grow-1">
            <header>
                <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TotalHRInsight</a>

                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <!-- Additional nav items can go here -->
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </header>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="footer border-top py-3 mt-4">
        <div class="container">
            <span style="font-weight: bold;">&copy; 2024 - <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TotalHRInsight</a> - </span>
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="footer-text">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
