@model TotalHRInsight.DAL.Estado

@{
    ViewData["Title"] = "Eliminar Estado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="text-center mt-4">Eliminar Estado</h1>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EstadoSolicitud)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.EstadoSolicitud)</dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdEstado" />
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-danger btn-block">
                                <i class="bi bi-trash"></i> Eliminar
                            </button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-circle"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
