@model TotalHRInsight.DAL.Estado

@{
    ViewData["Title"] = "Detalles Estado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="text-center">Detalles Estado</h1>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EstadoSolicitud)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.EstadoSolicitud)</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@Model?.IdEstado" class="btn btn-warning">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left-circle"></i> Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

