/* Estilo general para html y body */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #FAFCFD;
    color: #1F2D2B;
}

/* Estados de foco para varios elementos */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Estilo para la barra de navegación (navbar) */
.navbar {
    background-color: #be2324;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #df2a00 !important;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #E29E3D !important;
}

/* Estilo para la barra lateral (sidebar) */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #040404;
    padding-top: 56px;
    width: 200px;
    transition: all 0.3s;
    padding: 10px 20px; /* Reducir el padding para minimizar el espacio */
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

    .sidebar::-webkit-scrollbar {
        display: none;
    }

    .sidebar img {
        max-width: 100%;
        height: auto;
        display: block; /* Esto puede ayudar a evitar el desbordamiento */
    }

    .sidebar .nav-link {
        color: #FFFFFF !important;
        padding: 5px 10px; /* Reducir el padding para que el espaciado sea consistente */
        display: flex;
        align-items: center;
        border-radius: 4px; /* Opcional: Añadir radio de borde para un aspecto más suave */
    }

        .sidebar .nav-link:hover {
            color: #f3e572 !important;
        }

.sidebar-heading {
    padding: 5px 10px; /* Reducir el padding para el encabezado */
    text-align: center;
    font-size: 1em; /* Ajustar el tamaño de fuente */
    background-color: #be2324;
    color: #FFFFFF;
}

/* Estilo general para los elementos de la lista en la barra lateral */
.sidebar ul.nav {
    padding-left: 0; /* Asegurarse de que no haya padding por defecto */
    list-style: none; /* Eliminar los puntos de la lista */
    margin: 0; /* Eliminar el margen por defecto */
}

    .sidebar ul.nav li.nav-item {
        margin-bottom: 5px; /* Reducir el espacio entre ítems */
    }

        .sidebar ul.nav li.nav-item ul.nav {
            padding-left: 20px; /* Reducir el padding para submenús */
            list-style: none; /* Asegurarse de que no haya puntos en los submenús */
            margin: 0; /* Eliminar el margen por defecto */
        }

/* Estilo para los botones que colapsan los menús */
.sidebar .btn.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; /* Ajustar el padding para que se alinee con el nivel de submenú */
    margin-bottom: 5px; /* Reducir el espacio debajo del botón */
}

/* Opcional: Estilo para los elementos colapsables */
.sidebar .collapse {
    padding-left: 10px; /* Ajustar el padding para que los elementos colapsables se alineen bien */
}

    /* Opcional: Estilo para los ítems de la lista en las secciones colapsables */
    .sidebar .collapse ul.nav li.nav-item {
        margin-bottom: 3px; /* Reducir el espacio entre ítems en secciones colapsables */
    }

/* Estilo del contenido principal */
.main-content {
    margin-left: 200px;
    padding: 20px;
}

/* Estilo del pie de página para que coincida con la barra de navegación */
.footer {
    color: #ffffff;
    margin-right: 100px; /* Alinear el margen con el ancho de la barra lateral */
    clear: both;
}

    .footer a {
        color: #ffffff; /* Coincidir el color del enlace con el de los enlaces en la barra de navegación */
        text-decoration: none;
    }

        .footer a:hover {
            color: #E29E3D; /* Coincidir el color al pasar el ratón con el de los enlaces en la barra de navegación */
        }

/* Botones */
.btn-crear {
    color: #ffffff; /* Color del texto */
    background-color: #be2324; /* Color de fondo */
    border-color: #be2324; /* Color del borde si es necesario */
}

    .btn-crear:hover {
        background-color: #ad1f20; /* Color de fondo en el hover */
        color: #E29E3D; /* Color del borde en el hover si es necesario */
    }

/* Separador */
.separator {
    border-left: 1px solid #dee2e6; /* Color de la línea separadora */
    height: 40px; /* Ajusta la altura según el diseño */
    margin: 0 10px; /* Ajusta el espaciado horizontal */
}

.text-bold {
    font-weight: bold; /* Hace que el texto sea negrita */
}

/* Estilo para el contenedor */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 0;
    }

        .sidebar .nav-link {
            padding: 10px;
        }

    .main-content {
        margin-left: 0;
    }
}

/* Estilo para tablas */
.rounded-top-left {
    border-top-left-radius: 0.5rem;
}

.rounded-top-right {
    border-top-right-radius: 0.5rem;
}

.rounded-bottom-left {
    border-bottom-left-radius: 0.5rem;
}

.rounded-bottom-right {
    border-bottom-right-radius: 0.5rem;
}

.table-responsive .table.shadow-lg {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.375rem;
}

.custom-table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 0.75rem;
    overflow: hidden;
}
