@model TotalHRInsight.DAL.Sucursal

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-inicio {
        background-color: #B42D29;
        border-color: #B42D29;
        color: #FAFCFD;
    }
</style>

<h1>Eliminar Sucursal</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Sucursal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSucursal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreSucursal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionSucursal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UbicacionSucursal)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSucursal" />
        <button type="submit" class="btn btn-inicio">Eliminar</button> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
