@model TotalHRInsight.DAL.Producto
@{
    ViewData["Title"] = "Crear Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 class="text-center text-primary">Añadir Producto</h1>
    <hr class="border-primary" />
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-primary">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="NombreProducto" class="form-label text-primary"></label>
                                    <input asp-for="NombreProducto" class="form-control" />
                                    <span asp-validation-for="NombreProducto" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="FechaVencimiento" class="form-label text-primary"></label>
                                    <input asp-for="FechaVencimiento" class="form-control" />
                                    <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="PrecioUnitario" class="form-label text-primary"></label>
                                    <input asp-for="PrecioUnitario" class="form-control" />
                                    <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="MedidasId" class="form-label text-primary"></label>
                                    <select asp-for="MedidasId" class="form-control" asp-items="ViewBag.MedidasId"></select>
                                    <span asp-validation-for="MedidasId" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="CategoriaId" class="form-label text-primary"></label>
                                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="ProveedorId" class="form-label text-primary"></label>
                                    <select asp-for="ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId"></select>
                                    <span asp-validation-for="ProveedorId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <a asp-action="Index" class="btn btn-secondary flex-grow-1 me-2" onclick="showLoader()">
                                <i class="bi bi-arrow-left-circle me-2"></i>Regresar
                            </a>
                            <button type="submit" class="btn btn-primary flex-grow-1" onclick="showLoader()">
                                <i class="bi bi-plus-circle me-2"></i>Añadir
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_LoaderModal")
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
    <script src="~/js/loader.js"></script>
}
