@model TotalHRInsight.DAL.Permiso

@{
    ViewData["Title"] = "Editar Permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Permisos</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPermisos" />
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadDias" class="control-label"></label>
                <input asp-for="CantidadDias" class="form-control" />
                <span asp-validation-for="CantidadDias" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IdIncidencia" class="control-label"></label>
                <select asp-for="IdIncidencia" class="form-control" asp-items="ViewBag.IdIncidencia"></select>
                <span asp-validation-for="IdIncidencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCreacionId" class="control-label"></label>
                <select asp-for="UsuarioCreacionId" class="form-control" asp-items="ViewBag.UsuarioCreacionId"></select>
                <span asp-validation-for="UsuarioCreacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioAsignacionId" class="control-label"></label>
                <select asp-for="UsuarioAsignacionId" class="form-control" asp-items="ViewBag.UsuarioAsignacionId"></select>
                <span asp-validation-for="UsuarioAsignacionId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
