@model TotalHRInsight.DAL.Permiso

@{
    ViewData["Title"] = "Editar Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Editar Registro</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="IdPermisos" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdPermisos" />
                        <div class="form-group">
                            <label asp-for="FechaInicio" class="control-label"></label>
                            <input asp-for="FechaInicio" class="form-control" />
                            <span asp-validation-for="FechaInicio" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaFin" class="control-label"></label>
                            <input asp-for="FechaFin" class="form-control" />
                            <span asp-validation-for="FechaFin" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CantidadDias" class="control-label"></label>
                            <input asp-for="CantidadDias" class="form-control" />
                            <span asp-validation-for="CantidadDias" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comentario" class="control-label"></label>
                            <input asp-for="Comentario" class="form-control" />
                            <span asp-validation-for="Comentario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MotivoAdmin" class="control-label"></label>
                            <input asp-for="MotivoAdmin" class="form-control" />
                            <span asp-validation-for="MotivoAdmin" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsuarioCreacionId" class="control-label"></label>
                            <select asp-for="UsuarioCreacionId" class="form-control" asp-items="ViewBag.UsuarioCreacionId"></select>
                            <span asp-validation-for="UsuarioCreacionId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsuarioAsignacionId" class="control-label"></label>
                            <select asp-for="UsuarioAsignacionId" class="form-control" asp-items="ViewBag.UsuarioAsignacionId"></select>
                            <span asp-validation-for="UsuarioAsignacionId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TipoPermisos.NombrePermiso" class="control-label"></label>
                            <select asp-for="IdTipoPermiso" class="form-control" asp-items="ViewBag.IdTipoPermiso"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Estado.EstadoSolicitud" class="control-label"></label>
                            <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.IdEstado"></select>
                            <span asp-validation-for="IdEstado" class="text-danger"></span>
                        </div>

                        <form asp-action="Edit" method="post">
                            <input type="hidden" name="IdPermisos" value="@Model.IdPermisos" />
                            <div class="d-flex justify-content-between mt-4">
                                <a asp-action="Index" class="btn btn-secondary me-2" style="flex: 1;" onclick="showLoader()">
                                    <i class="bi bi-arrow-left-circle"></i> Regresar
                                </a>
                                <button type="submit" class="btn btn-danger ms-2" style="flex: 1;" onclick="showLoader()">
                                    <i class="bi bi-plus-circle"></i> Guardar
                                </button>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_LoaderModal")

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
    <script src="~/js/loader.js"></script>
}