@model TotalHRInsight.DAL.Sucursal

@{
    ViewData["Title"] = "Crear Sucursal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Añadir Sucursal</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreSucursal" class="control-label"></label>
                <input asp-for="NombreSucursal" class="form-control" />
                <span asp-validation-for="NombreSucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UbicacionSucursal" class="control-label"></label>
                <input asp-for="UbicacionSucursal" class="form-control" />
                <span asp-validation-for="UbicacionSucursal" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Añadir" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
