@model TotalHRInsight.DAL.Deduccion
@{
    ViewData["Title"] = "Editar Deduccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Editar Deduccion</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="IdDeduccion" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdDeduccion" />
                        <div class="form-group">
                            <label asp-for="FechaDeduccion" class="control-label"></label>
                            <input asp-for="FechaDeduccion" class="form-control" />
                            <span asp-validation-for="FechaDeduccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NombreDeduccion" class="control-label"></label>
                            <input asp-for="NombreDeduccion" class="form-control" />
                            <span asp-validation-for="NombreDeduccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MontoDeduccion" class="control-label"></label>
                            <input asp-for="MontoDeduccion" class="form-control" />
                            <span asp-validation-for="MontoDeduccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsuarioCreacionId" class="control-label"></label>
                            <select asp-for="UsuarioCreacionId" class="form-control" asp-items="ViewBag.UsuarioCreacionId"></select>
                            <span asp-validation-for="UsuarioCreacionId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsuarioAsignacionId" class="control-label"></label>
                            <select asp-for="UsuarioAsignacionId" class="form-control" asp-items="ViewBag.UsuarioAsignacionId"></select>
                            <span asp-validation-for="UsuarioAsignacionId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TipoDeduccionId" class="control-label"></label>
                            <select asp-for="TipoDeduccionId" class="form-control" asp-items="ViewBag.TipoDeduccionId"></select>
                            <span asp-validation-for="TipoDeduccionId" class="text-danger"></span>
                        </div>

                        <form asp-action="Edit" method="post">
                            <input type="hidden" name="IdDeduccion" value="@Model.IdDeduccion" />
                            <div class="d-flex justify-content-between mt-4">
                                <a asp-action="Index" class="btn btn-secondary me-2" style="flex: 1;" onclick="showLoader()">
                                    <i class="bi bi-arrow-left-circle"></i> Regresar
                                </a>
                                <button type="submit" class="btn btn-danger ms-2" style="flex: 1;" onclick="showLoader()">
                                    <i class="bi bi-plus-circle"></i> Guardar
                                </button>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_LoaderModal")

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
    <script src="~/js/loader.js"></script>
}