@model TotalHRInsight.DAL.Incidencia

@{
    ViewData["Title"] = "Detalles Incidencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles Incidencia</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreIncidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreIncidencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdIncidencia">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
