@model AdminCrearUsuarioViewModel

@{
    ViewData["Title"] = "Crear Usuario";
}

<div class="container">
    <div class="user-create-box">
        <h1>@ViewData["Title"]</h1>
        <h2>Crea una nueva cuenta.</h2>
        <hr />
        <form id="registerForm" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <!-- Distribución de campos -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Nombre" class="form-control" aria-required="true" placeholder=" " />
                        <label asp-for="Nombre">Nombre</label>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="PrimerApellido" class="form-control" aria-required="true" placeholder=" " />
                        <label asp-for="PrimerApellido">Primer Apellido</label>
                        <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="SegundoApellido" class="form-control" aria-required="true" placeholder=" " />
                        <label asp-for="SegundoApellido">Segundo Apellido</label>
                        <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="FechaNacimiento" id="datepicker" class="form-control" aria-required="true" />
                        <label asp-for="FechaNacimiento">Fecha de Nacimiento</label>
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="NumeroTelefono" class="form-control" aria-required="true" placeholder=" " />
                        <label asp-for="NumeroTelefono">NumeroTelefono</label>
                        <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Salario" id="datepicker" class="form-control" aria-required="true" />
                        <label asp-for="Salario">Salario</label>
                        <span asp-validation-for="Salario" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder=" " />
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <select asp-for="IdRol" class="form-control" asp-items="@ViewBag.Roles"></select>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder=" " />
                <label asp-for="Password">Contraseña</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder=" " />
                <label asp-for="ConfirmPassword">Confirmar Contraseña</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Registrar</button>
            <a href="/Admin" class="btn btn-secondary">Volver a Usuarios</a> <!-- Botón para volver -->
        </form>
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
    }

    .user-create-box {
        text-align: center;
        color: #333;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        width: 80%;
        max-width: 800px;
    }

    .form-floating {
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px 20px;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        padding: 10px 20px;
        color: white;
    }

    a {
        color: #fff;
        text-decoration: none;
        display: block; /* Hace que el enlace ocupe todo el ancho disponible */
    }

        a:hover {
            text-decoration: underline;
        }

    .row {
        margin-bottom: 20px;
    }
</style>
