@model EditUserViewModel

@{
    ViewData["Title"] = "Editar Role de Usuario";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="Nombre"  class="form-control" aria-required="true" placeholder=" " />
                <label asp-for="Nombre">Nombre</label>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="PrimerApellido" class="form-control" aria-required="true" placeholder=" " />
                <label asp-for="PrimerApellido">Primer Apellido</label>
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="SegundoApellido" class="form-control" aria-required="true" placeholder=" " />
                <label asp-for="SegundoApellido">Segundo Apellido</label>
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="FechaNacimiento" id="datepicker" class="form-control" aria-required="true" />
                <label asp-for="FechaNacimiento">Fecha de Nacimiento</label>
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="NumeroTelefono" class="form-control" aria-required="true" placeholder=" " />
                <label asp-for="NumeroTelefono">NumeroTelefono</label>
                <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Salario" id="datepicker" class="form-control" aria-required="true" />
                <label asp-for="Salario">Salario</label>
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="new-password" />
                <label asp-for="Password">Contraseña</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" />
                <label asp-for="ConfirmPassword">Confirmar Contraseña</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder=" " />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedRoleId">Role</label>
        <select asp-for="SelectedRoleId" asp-items="@ViewBag.Roles" class="form-control"></select>
        <span asp-validation-for="SelectedRoleId" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-danger">Actualizar Role</button>
    <a href="/Admin/Index" class="btn btn-secondary">Regresar</a>
</form>
