@model TotalHRInsight.DAL.TipoPermiso

@{
    ViewData["Title"] = "Editar TIpo Permiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Editar Tipo de Permiso</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="IdTipoPermiso" />
                        <div class="form-group mb-3">
                            <label asp-for="NombrePermiso" class="form-label"></label>
                            <input asp-for="NombrePermiso" class="form-control" />
                            <span asp-validation-for="NombrePermiso" class="text-danger"></span>
                        </div>
                        <form asp-action="Edit" method="post">
                            <input type="hidden" name="IdTipoPermiso" value="@Model.IdTipoPermiso" />
                            <div class="d-flex justify-content-between mt-4">
                                <a asp-action="Index" class="btn btn-secondary me-2" style="flex: 1;" onclick="showLoader()">
                                    <i class="bi bi-arrow-left-circle"></i> Regresar
                                </a>
                                <button type="submit" class="btn btn-danger ms-2" style="flex: 1;" onclick="showLoader()">
                                    <i class="bi bi-plus-circle"></i> Guardar
                                </button>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_LoaderModal")

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
    <script src="~/js/loader.js"></script>
}

