@model TotalHRInsight.DAL.Medida

@{
    ViewData["Title"] = "Detalles Medida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Detalles Medidas</h1>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NombreMedida)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NombreMedida)
                        </dd>
                    </dl>
                    <div class="d-grid gap-2">
                        <a asp-action="Edit" asp-route-id="@Model?.IdMedida" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-circle"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
