@model IEnumerable<TotalHRInsight.DAL.Medida>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Medidas</h1>
<hr />

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.NombreMedida)</h5>
                    <div class="text-end">
                        <a asp-action="Edit" asp-route-IdMedida="@item.IdMedida" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a asp-action="Details" asp-route-IdMedida="@item.IdMedida" class="btn btn-info">
                            <i class="bi bi-info-circle"></i> Detalles
                        </a>
                        <a asp-action="Delete" asp-route-IdMedida="@item.IdMedida" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Eliminar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="mt-4">
    <a asp-action="Create" class="btn btn-danger">
        <i class="bi bi-plus-circle"></i> Crear nuevo registro
    </a>
   </div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
}
